<section ng-controller="PagesController" ng-init="findOne()">

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div ng-if="!authenticated.user">
                <div class="alert alert-danger"><strong>ERROR: </strong>This page requires authentication</div>
            </div>
            <div ng-if="authenticated.user">
                <h1>Edit Page</h1>

                <form ng-submit="update()" novalidate>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input class="form-control" type="text" id="title" ng-model="page.title" placeholder="Title"
                               required/>
                    </div>
                    <div class="form-group">
                        <label for="seo-title">SEO Title</label>
                        <input type="text" id="seo-title" ng-model="page.seoTitle" placeholder="SEO Title" required
                               class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="home-page">Set as Home Page</label>
                        <input type="checkbox" id="home-page" ng-model="page.homePage" value="true"/>
                    </div>
                    <div class="form-group">
                        <label for="content">Content</label>
                    <textarea ckeditor="options" class="form-control" ng-model="page.content" id="content" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <br/>
                        <button class="btn btn-primary">
                            <span class="fa fa-floppy-o"> Update</span>
                        </button>

                        <a href="#" class="btn btn-danger" ng-click="delete();"><span class="fa fa-trash-o"></span>
                            Delete</a>

                        <br/>
                        <br/>
                        <a class="btn btn-warning" ng-href="/#!/pages"><span class="fa fa-arrow-left"></span> Back</a>
                    </div>
                    <div ng-show="error" class="alert alert-danger">
                        <strong ng-bind="error"></strong>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-2"></div>

    </div>

</section>