<section ng-controller="PagesController" ng-init="find()">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h1>Pages <a  ng-href="/#!/pages/create"><span class="fa fa-plus"></span></a></h1>
            <table class="table table-bordered" ng-if="pages.length">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="page in pages">
                    <td>
                        <a ng-href="/#!/{{page.seoTitle}}" ng-bind="page.title"></a> <span ng-if="page.homePage" class="fa fa-home"></span>
                    </td>
                    <td>
                        <a class="btn btn-primary" ng-href="/#!/{{page.seoTitle}}"><span class="fa fa-eye"></span> View</a>
                        <a class="btn btn-info" ng-href="/#!/pages/{{page._id}}/edit"><span
                                class="fa fa-pencil-square-o"></span> Edit</a>
                        <div  class="btn btn-danger" ng-click="delete(page);"><span class="fa fa-trash-o"></span>
                            Delete</div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-hide="!pages || pages.length" class="alert alert-info">
                No Pages yet, <a ng-href="/#!/pages/create">Create page</a>.
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</section>
