<% include ../head %>
<div class="row" id="sign-in">
    <div class="col-lg-4 col-md-3 col-sm-1 col-xs-1"></div>
    <div class="col-lg-4 col-md-6 col-sm-10 col-xs-10">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    Sign In
                </div>
            </div>
            <div class="panel-body">

                <% if (messages.length) { %>
                <div class="alert alert-danger">
                    <%= messages %>
                </div>
                <% } %>

                <form action="/signin" method="post" novalidate>
                    <div class="form-group">
                        <label>Username:</label>
                        <input type="text" name="username" class="form-control" required/>
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" name="password" class="form-control" required/>
                    </div>
                    <div>
                        <br/>
                        <button class="btn btn-primary">
                            <span class="fa fa-sign-in"></span> Sign In
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="col-lg-4 col-md-3 col-sm-1 col-xs-1"></div>
</div>
<% include ../foot %>