

<!-- bower:js -->
<script src="lib/jquery/dist/jquery.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="lib/angular-resource/angular-resource.js"></script>
<script src="lib/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="lib/ng-ckeditor/ng-ckeditor.js"></script>
<!-- endbower -->

<script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
<script type="text/javascript" src="/scripts/application.js"></script>
<script type="text/javascript" src="/scripts/config/locationprovider.client.config.js"></script>
<script type="text/javascript" src="/scripts/routes.js"></script>
<script type="text/javascript" src="/scripts/services/authentication.client.service.js"></script>
<script type="text/javascript" src="/scripts/services/pages.client.service.js"></script>
<script type="text/javascript" src="/scripts/controllers/index.client.controller.js"></script>
<script type="text/javascript" src="/scripts/controllers/pages.client.controller.js"></script>
<script type="text/javascript" src="/scripts/directives/pages-header.client.directive.js"></script>
</body>
</html>