<!DOCTYPE html>
<html xmlns="http://angularjs.org" ng-app="samuraiSoftware">
<head>
    <title><%= title %></title>
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="/styles/application.css"/>
</head>
<body>
